#container{
    width: 600px;
    background-color: gray;
   margin: 0 auto;
}
div{
    background-color: aqua;
    height: 30px;
    width: 75%;
}
div.test{
background-color: darkgreen;
height: 30px;
width: 30px;
transition: all .3s linear;

}
div.test:hover{
    background-color: green;
    height: 200px;
    width: 200px;
    transform:rotate(90deg);
}
