body {
    background-color: grey;

}

#container{
    background-color: lightcoral;
    width: 80%;
    height: 150px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;


}
#a{
    background-color: lightgray;
    width:80px;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction:column;

}
#b {
    background-color: darkgray;
    width: 80px;
    height: 100%;
    flex-grow: 2;
}
#c {
    background-color: lightgrey;
    width: 80px;
    height: 100%;
    flex-grow: 3;
}
#a>div{
    flex-grow: 1;
}
